{% extends 'admin/base.html.twig' %}

{% block title %}Administration des bookingaires !{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des bookingaires</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Visiteur</th>
                <th>Annonce</th>
                <th>Durée</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in pagination.data %}
                <tr>
                    <td>{{booking.id}} </td>
                    <td>{{booking.createdAt|date('d/m/Y')}}</td>
                    <td><img src="{{booking.booker.picture}}" alt="{{booking.booker.fullName}}" class="avatar avatar-mini mr-2"><br>{{booking.booker.fullName}}</td>
                    <td>{{booking.ad.title}}</td>
                    <td>{{booking.duration}}</td>
                    <td>{{booking.amount| number_format('2',',',' ')}} &euro;</td>
                    <td>
                        <a href="{{path('admin_bookings_edit', {'id':booking.id})}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{path('admin_bookings_delete', {'id':booking.id})}}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{pagination.display()}}
</div>
{% endblock %}
