{% extends 'admin/base.html.twig' %}

{% block title %}Modifictation de l'annonce numéro
    {{comment.id}}
{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Modification de l'annonce</h1>
        <div class="alert alert-info">
            <strong>Annonce liée : </strong>{{comment.ad.title}}<br>
            <strong>Auteur : </strong>{{comment.author.fullName}}<br>
            <strong>Date de création : </strong>{{comment.createdAt|date('d/m/Y')}}<br>
            <strong>Note donnée : </strong>{{comment.rating}}
        </div>
        {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-check"></i>
            Enregistrer les modifs
        </button>
        </div>
        {{form_end(form)}}
    </div>
{% endblock %}


