{% extends 'base.html.twig' %}

{% block title %}Edition d'une annonce{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}
{% block body %}
<div class="container">
    <h1>Modifier l'annonce{{ad.title}} </h1>
    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-primary">Modifier l'annonce</button>
    <a href="{{path('ads_delete', {'slug': ad.slug})}}" class="btn btn-danger" onclick="return confirm(`Etes-vous sur de vouloir supprimer :{{ad.title}} ?`)">Supprimer l'annonce</a>
    {{form_end(form)}}
</div>
{% endblock %}

{% block javascripts %}
    <script src="/js/app.js">
    </script>
{% endblock %}
